.gedpopupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.gedpopup {
    width: 50%;
    background-color: white;
    padding: 1%;
    border-radius: 2%;
    z-index: 1001; /* Ensure it appears above the overlay */
}
.gedrectangle {
    margin: 4%;
    border: 0.2rem solid #02A0D4;
    padding: 2%;
}
.gedyellowline {
    border: none;
    border-top: 0.2rem solid #FDCD3B; /* Customize color and thickness */
    width: 100%; /* Set width */
    margin: 2% 0; 
  }
.gedname {
    color:#02A0D4;
    font-size: large;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

/* Form Fields */
.gedadd-fields {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.gedadd-fields input {
    width: 100%;
    padding: 8px;
    border: 1px solid #72C7F2;
    border-radius: 5px;
    font-size: 0.8rem;
    margin-top: 5px;
    
}
.deletecontainer {
    display: flexbox;
    align-items: center;
}

.gedbuttonz {
    margin-left: 40%;
    display: flex;
    align-items: center;
    gap: 3%;
}

.deletequestion {
    font-weight: bold;
    color:red;
}