.welcome-wrapper {
    display: flex;
    flex-direction: row;
    width: 60%;
}

.page-wrapper {
    height: 100%;
    width: 100%;
    margin-left: 24%;
    margin-top: 12%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.pm-overview-h1 {
    color: #71c4d6;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    gap: 50%;
    width: 90vw; 
}