.bubble {
    height: 100%;
    width: 100%;
    display: inline-block;      /* Ensure the container is sized to the image */
    border-radius: 50%;        /* Makes the border circular */
    overflow: hidden;          /* Ensures the border is clipped in a circle */
    cursor: pointer;           /* Changes the cursor to indicate it's clickable */
    background-color: white;
    border: none;
}

.bubble-image {
    width: 100%;               
    height: 100%;              
    object-fit: cover;         /* Ensures the image covers the area */
    border-radius: 60%;        /* Keeps the image circular */
    border: 20px solid #02A0D4; /* Blue border around the image */
}
