.page {
  width: 90%;
  margin: 0 auto;
  padding: 2% 0;
  font-family: Arial, sans-serif;
  height: 100vh;
}

.heading {
  font-size: 2.5rem;
  color: #72C7F2;
  font-weight: bold;
  text-align: left;
  margin-bottom: 1%;
}

.blue-line {
  width: 100%;
  margin-bottom: 1%; 
  background-color: #72C7F2;
  height: 0.2%; 
}

.yellow-line {
  width: 100%;
  height: 0.2%; 
  background-color: #FDCD3B;
  margin-top: 0; 
}
.form-container {
  display: flex;
  justify-content: space-between;
  gap: 2%;
  margin-top: 2%;
}

.form-fields {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.form-fields label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  color: #333;
}

.form-fields input {
  width: 100%;
  padding: 8%;
  border: 1px solid #72C7F2;
  border-radius: 5%;
  font-size: 1rem;
  margin-top: 5%;
}


.form-fields input,
.form-fields textarea {
  width: 80%; 
  padding: 3%; 
  border: 2% solid #ccc;
  border-radius: 5%;
  font-size: 1rem;
  margin-top: 0.5%;
  min-height: 40%; 
  border-color: #72C7F2;
  resize: vertical;
  height: 100%;
}

.form-fields input[type="number"] {
  height: 50%;
  padding: 10%;
  font-size: 1rem;
}


.upload-bubbles > div {
  margin: 1%;
  padding: 1%;
}

.upload-bubbles {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: -1%; 
  margin: 1% 0 1%;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 2%;
  margin-top: -4%;

}

.close-button, .enter-button {
  padding: 1% 4%;
  font-size: 1rem;
  border: none;
  border-radius: 5%;
  cursor: pointer;
  background: blue;
}

.close-button {
  background: #FDCD3B; 
  color: white; 
  margin-left: 80%;
 
}

.enter-button {
  background-color: #72C7F2; 
  color: white;
}

.dropdown-container {
  position: relative;
}

.dropdown-container .dropdown-list {
  display: none;
  position: absolute;
  top: 100%; 
  left: 0;
  width: 85%;
  background-color: white;
  border: 1px solid #72C7F2;
  z-index: 1;
}


.dropdown-container:hover .dropdown-list {
  display: block;
}

.dropdown-item:hover{
  background-color: rgb(198, 198, 198);
}

.upload-bubbles {
  display: flex;
  flex-direction: row; 
  gap: 2%; 
  justify-content: center; 
  margin-top: 5%; 
}

.circle {
  width: 15vw; 
  height: 15vw; 
  max-width: 100%; 
  max-height: 100%;
  border-radius: 50%; 
  background-color: #ffffff;
  border: 3% solid #89CFF0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0% 0% 8% rgba(0, 123, 255, 0.5);
  position: relative;
}

.button-for-bubble {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
}

.file-input {
  opacity: 0; 
  width: 100%; 
  height: 100%; 
  position: absolute; 
  top: 0;
  left: 0;
  cursor: pointer;
}

.subtext{
  font-size: 1.9em;
  pointer-events: none;
  color: #72C7F2;
  font-weight: bold;
}