button {
    cursor: pointer;
}

.yellow {
    background-color: #FDCD3B;
    color: white;
    cursor: pointer;
    padding: none;
}
.yellow:hover {
    transform: scale(1.05);
}
.blue {
    background-color: #02A0D4;
    color: white;
    cursor: pointer;
    padding: none;
}
.blue:hover {
    transform: scale(1.05);
}
.red{
    background-color: #FC6666;
    color: white;
    cursor: pointer;
    padding: none;
}
.red:hover {
    transform: scale(1.05);
}
#small {
    width: 150px;
    height: 50px;
    font-size: 35px;
    border-radius: 10px;
    border-width: 0;
}

#large {
    width: 175px;
    height: 40px;
    font-size: 24px;
    border-radius: 10px;
    border-width: 0;
}

#adminToggle {
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    border-width: 0;
}
