.yellow {
    background-color: #FDCD3B;
    color: white;
}
.blue {
    background-color: #02A0D4;
    color: white;
}
.red{
    background-color: #FF0000;
    color: white;
}
#small {
    width: 100px;
    height: 40px;
    font-size: 14px; 
    padding: 10px;
    border-radius: 10px;
}

#large {
    width: 145px;
    height: 20px;
    font-size: 16px;
    padding: 15px;
    border-radius: 10px;
}

#button {
    font-style:italic;
    text-align:center; 
}