
.title { /*figure out why the font size will not change */
  color: #02A0D4;
  font-weight: bold;
  margin-left: 3%;
  margin-top: 10px;
  font-size: 150% ;
  margin-bottom: 0.5%;
}

.bubble-container { 
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 3%;
  height: 50%;
  width: 100%;
  overflow-y: scroll;
  justify-content: center;
}

.bubble-wrapper {
  margin-top: 3rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.blueline {
  border: none;
  border-top: 2px solid #02A0D4; /* Customize color and thickness */
  width: 100%; /* Set width */
  margin-top: 4px;
  margin-bottom: 2px;
}
.yellowline {
  border: none;
  border-top: 2px solid #FDCD3B; /* Customize color and thickness */
  width: 100%; /* Set width */
  margin: 1px 0; /* Optional spacing */
}
.btz {
  display:flex;
  justify-content: left;
  margin-left: 400px;
  align-items: center;
}
.top {
  margin-top:5px;
  display: flex;
  margin-bottom: 5px;
}