.title {
  /*figure out why the font size will not change */
  color: #02A0D4;
  font-weight: bold;
  margin-left: 3%;
  margin-top: 0.5%;
  font-size: 150%;
  margin-bottom: 0.5%;
}

.bubble-container {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 3%;
  height: 50%;
  width: 100%;
  overflow-y: scroll;
  justify-content: center;
}

.bubble-wrapper {
  margin-top: 3rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.blueline {
  border: none;
  border-top: 0.1rem solid #02A0D4;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.yellowline {
  border: none;
  border-top: 0.1rem solid #FDCD3B;
  width: 100%;
  margin: 1% 0;
}

.btz {
  display:flex;
  justify-content: left;
  align-items: center;
  column-gap: 5%;
}

.top {
  margin-top:0.5%;
  display: flex;
  margin-bottom: 0.5%;
}
.top-left {
  margin-left:62%;
}
.clickremove {
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 0.5%;
  color: #02A0D4;
}