.bubblie1{
    margin-left: 70%;
    margin-top: 10%
}

.bubblie2{
    margin-left: 10%;
    margin-top: 
}

.bubblie3{
    margin-left: 70%;
    margin-top: 10%

}

.bubblie4{
    margin-left: 70%;
    margin-top: 10%

}