
.page {
    overflow: hidden;
    display: flex;
}

.welcome-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20vw;
}


.welcome-bubble {
    background-color: #f0f0f0;
    box-shadow: 0px 4px 10px rgba(82, 96, 225, 0.3);
    border: 3px solid #72C7F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    object-fit: cover;
}

.page-wrapper {
    height: 100%;
    margin-left: 24%;
    margin-top: 12%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.pm-overview-h1 {
    color: #71c4d6;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.lists{
    display: flex;
    padding-left: 25%;
    flex-wrap: wrap;
}

.step1-row1-wrapper {
    display: flex;
    flex-direction: row;
    width: 60%;
    gap: 50%;
}


@media (max-width: 500px) {
    .page-wrapper {
        width: 100%;
    }

    .welcome-wrapper {
        display: flex;
        flex-direction: column;
    }
    
    .navbar-div {
        display: none;
    }

    .link-bubble-wrapper-first {
        margin-top: 12vh;
    }
}