p {
    font-size: 1.2rem
}

.body-text-wrapper {
    width: 55%;
}

.bodyText {
    display: flex;
    flex-direction: column;
    line-height: 3.5vh;
}

li {
    font-size: 1.2rem;
    width: 60vw;
    margin-left: 3rem;
    margin-top: -1.3rem;
}

.listItem {
    width: 60vw;
}

.body-title {
    color: #71c4d6;
}

h2 {
    color: #71c4d6;
}