.row1-wrapper {
    display: flex;
    justify-content: space-between;   /* Distributes bubbles evenly within available space */
    align-items: center;
    position: absolute;
    top: 12rem;                        /* Positions bubbles lower on the page responsively */
    left: 20%;                        /* Accounts for navbar width */
    width: 70%;                       /* Occupies remaining width, centering bubbles */
    padding-top: 4rem;
}

.row2-wrapper {
    display: flex;
    justify-content: space-between;   /* Distributes bubbles evenly within available space */
    align-items: center;
    position: absolute;
    top: 28rem;                        /* Positions bubbles lower on the page responsively */
    left: 20%;                        /* Accounts for navbar width */
    width: 70%;                       /* Occupies remaining width, centering bubbles */
    padding-top: 4rem;
}

.back-button-wrapper {
    display: flex;
    justify-content: space-between;   /* Distributes bubbles evenly within available space */
    align-items: center;
    position: absolute;
    top: 15vh;                        /* Positions bubbles lower on the page responsively */
    left: 86%; 
    width: 70%;                       /* Occupies remaining width, centering bubbles */
    padding-top: 4rem;
}

.next-button-wrapper {
    display: flex;
    justify-content: space-between;   /* Distributes bubbles evenly within available space */
    align-items: center;
    position: absolute;
    top: 45rem;                        /* Positions bubbles lower on the page responsively */
    left: 86%; 
    width: 70%;                       /* Occupies remaining width, centering bubbles */
    padding-top: 4rem;
}

.pm-overview-h1 {
    color: #71c4d6;
    position: absolute;
    top: 11rem;
    left: 52vh;
}

.pm-overview-h1-wrapper {
    display: flex;

}

