
.title{
    display: flex;
   padding-left: 25%;
   
    padding-top: 13%;
    color: rgb(16, 162, 241);

}

.bodyText{
    display: flex;
    padding-top: 3%;
    flex-wrap: wrap;
    width: 90%;
    line-height: 1.5;
    color: black;
}

li {
    list-style: none;
}

.randomText{
    display: flex;
    padding-left: 25%;
    flex-wrap: wrap;
    width: 90%;
    line-height: 1.5;

}
.lists{
    display: flex;
    padding-left: 25%;
    flex-wrap: wrap;
    width: 90%;
    line-height: 1.5;
}