.page {
  width: 90%;
  margin: 0 auto;
  padding: 2% 0;
  font-family: Arial, sans-serif;
}

.heading {
  font-size: 2.5rem;
  color: #72C7F2;
  font-weight: bold;
  text-align: left;
  margin-bottom: 2%;
  border-bottom: 2px solid #72C7F2;
  padding-bottom: 0.5%;
}

.yellow-line {
  width: 100%; 
  height: 2px; 
  background-color: #FDCD3B; 
  margin-top: -12px; 
}
.form-container {
  display: flex;
  justify-content: space-between;
  gap: 2%;
  margin-top: 2%;
}

.form-fields {
  width: 65%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5%;

}

.form-fields label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  margin-bottom: 1%;
  padding-top: 10px; 
  padding-bottom: 10px; 
  line-height: 1.5;
}

.form-fields input,
.form-fields textarea {
  width: 45%;
  padding: 0.5%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 0.5%;
  height: 50px;
  border-color: #72C7F2;
}

.form-fields input[type="number"] {
  height: 50px;
  padding: 10px;
  font-size: 1rem;
}

textarea {
  resize: vertical;
  height: 90px;
  height: 120px;
}

.upload-bubbles > div {
  margin: 13px;
  padding: 5px;
}


.upload-bubbles {
  width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    gap: 0;
    margin: -20px 0 20px;
    padding: 0;
}


.button-container {
  display: flex;
  justify-content: center;
  gap: 2%;
  margin-top: -1%;

}

.close-button, .enter-button {
  padding: 1% 4%;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: blue;
}

.close-button {
  background: #FDCD3B; 
  color: white; 
  margin-left: 80%;
 
}

.enter-button {
  background-color: #569fc3; 
  color: white;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  max-width: 90%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-popup {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #fdcd3b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}